<h1>Computed Alias example: {{this.user}}</h1>
<h1>Computed and example: {{this.hasFoot}}</h1>
<h1>Computed notEmpty example: {{this.isColorEmpty}}</h1>
<h1>Computed gt example: {{this.isNumberBig}}</h1>
<h1>Computed lt example: {{this.isNumberSmall}}</h1>
<h1>Computed not example: {{this.copNotProblem}}</h1>

