{{#if this.isEditing}}
  <PostForm @post={{this.model}} @postResponse={{this.postResponse}} @afterSave={{action 'doneEditing'}}/>
{{else}}
<button {{action 'edit' }}>Edit</button>
<button {{action 'deletePost' this.model}}>Delete</button>
{{/if}}
<h1>Post Details</h1>
<div>
    <h3>Title: {{this.model.title}}</h3>
    <h3>Author: {{this.model.author}}</h3>
    <h3>Body: {{this.model.body}}</h3>
    {{#if this.model.videoUrl}}
    <iframe width="560" height="315" src={{this.model.deckedOutVideoUrl}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{/if}}
</div>
